* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Press";
  src: url("./PressStart2P.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Press";
  font-weight: "normal";
}

body > iframe {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
