.roadmap {
  height: 100%;
  width: 100%;
  position: relative;
  top: -4px;
  > img {
    position: relative;
    width: 100%;
  }
  #cylinder {
    width: 210px;
    height: 210px;
    position: absolute;
    right: 14%;
    top: 43%;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }
  }
  .token-1 {
    position: absolute;
    bottom: 34%;
    right: 23%;
    animation: animate 2s linear infinite;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      img {
        width: 18px !important;
        height: 18px !important;
      }
    }
  }
  .token-2 {
    position: absolute;
    bottom: 39%;
    right: 16%;
    animation: animate 2s linear infinite;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      img {
        width: 18px !important;
        height: 18px !important;
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
